:root {
    --color: #000000;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: large;
}

.heading {
    color: var(--color);
    margin-bottom: 15px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
    position: relative;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    padding: 10px;
    width: 350px;
    max-width: 350px;
    box-sizing: border-box;
}

.signin-input,
#signin-submit {
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    width: 350px;
    max-width: 350px;
    box-sizing: border-box;
}

#signin-submit {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 5px solid white;
    height: 50px;
}

@media (max-width: 768px) {

    .signin-form {
        font-size: small;
        padding: 5px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"],
    #signin-submit {
        width: 250px;
        font-size: small;
    }

    #signin-submit {
        height: 45px;
        font-size: medium;
    }

    .signin-input {
        width: 250px;
        font-size: small;
        margin: 2px;
    }
}