:root {
  --color: #000000;
}

body {
  font-family: 'Quicksand', serif;
  padding: 0.8rem;
}

.product-list-div {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  height: 280px;
  width: 375px;
  background: #bbb;
  text-align: center;
  margin: 5px 2px;
  position: relative;
  perspective: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-inner {
  height: 280px;
  width: 375px;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-front,
.flip-card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-inner:hover {
  transform: rotateY(180deg);
}

.card_content {
  background-color: #c08484;
  height: 100%;
  width: 100%;
  color: black;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.card_text {
  background-color: #c08484;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  text-align: justify;
}

.card_title {
  font-size: 2rem;
  color: #000;
}

.posted_by {
  font-size: 1.8rem;
  color: var(--color);
}

.del-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}

@media (max-width:768px) {
  .row {
    flex-flow: column;
  }
}