:root {
  --color: #000000;
}

body {
  font-family: 'Quicksand', serif;
  padding: 0.8rem;
}

.product-list-div {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 6.5vh;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  height: 38vh;
  width: 24.8vw;
  background: #bbb;
  text-align: center;
  margin: 2vh 1.6vw;
  position: relative;
  perspective: 1000px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-inner {
  height: 38vh;
  width: 24.8vw;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-front,
.flip-card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.card_content {
  background-color: #c08484;
  height: 100%;
  width: 100%;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.card_text {
  background-color: #c08484;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  text-align: justify;
  overflow: auto;
}

.card_title {
  padding: 0 10px;
  font-size: 1.3rem;
  color: #000;
  text-align: justify;
}

.card_title::after{
  content: '....';
}

.posted_by {
  position: relative;
  margin-top: -11px;
  font-size: 1rem;
  padding: 0 10px;
  color: var(--color);
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 3vw;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left : 10px;
}

.update-link,
.del-button {
  background-image: linear-gradient(to bottom right, #bbb, rgb(66, 77, 84));
  color: black;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  z-index: 10;
  text-align: center;
  width: 70px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Quicksand', serif;
}

@media (max-width:1000px) {

  .cards {
    height: 300px;
    width: 260px;
    background: #bbb;
    text-align: center;
    margin: 2vh 1.6vw;
    position: relative;
    perspective: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .flip-card-inner {
    height: 300px;
    width: 260px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .flip-card-front,
  .flip-card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }
  
  .card_content {
    background-color: #c08484;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .card_text {
    background-color: #c08484;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    overflow: auto;
  }
}

@media (max-height:700px) {
  .cards {
    height: 250px;
    width: 280px;
    background: #bbb;
    text-align: center;
    margin: 2vh 1.6vw;
    position: relative;
    perspective: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .flip-card-inner {
    height: 250px;
    width: 280px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .flip-card-front,
  .flip-card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .flip-card-inner.flipped {
    transform: rotateY(180deg);
  }
  
  .card_content {
    background-color: #c08484;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .card_text {
    background-color: #c08484;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    overflow: auto;
  }
}