.navbar {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

.nav-ul {
    background-color: #042b45;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.nav-ul li {
    display: inline-block;
    padding: 10px;
    margin: 0 0.7rem;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
}

.nav-right {
    background-color: #042b45;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.nav-right li {
    display: inline-block;
    padding: 10px;
    margin: 0 0.7rem;
}

.nav-right li a {
    text-decoration: none;
    color: white;
}

.nav-right {
    text-align: right;
}
